body {
    overflow-x: hidden;
}

.infotext {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #1B2353;
}

.social-icons {
    display: inline;
    border-left: 2px solid lightgray;
    padding: 10px 0;
    padding-left: 16px;
    margin-left: 12px;
}

.social-icons img {
    height: 20px;
    vertical-align: sub;
}

.social-icons img:not(:last-child) {
    margin-right: 8px;
}

.nav-barna .btn {
    border-radius: 0;
    padding: 12px 18px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0 -4px;
}

.nav-barna .btn:nth-child(1) {
    background-color: #037E40;
}

.nav-barna .btn:nth-child(2) {
    background-color: #02A428;
}

.nav-barna .btn:nth-child(3) {
    background-color: #023D83;
}

.cta {
    padding: 5em 36px;
    background: rgb(24, 71, 119);
    background: -webkit-gradient(linear, left top, right top, color-stop(6%, rgba(24, 71, 119, 1)), to(rgba(3, 126, 64, 1)));
    background: -webkit-linear-gradient(left, rgba(24, 71, 119, 1) 6%, rgba(3, 126, 64, 1) 100%);
    background: -o-linear-gradient(left, rgba(24, 71, 119, 1) 6%, rgba(3, 126, 64, 1) 100%);
    background: linear-gradient(90deg, rgba(24, 71, 119, 1) 6%, rgba(3, 126, 64, 1) 100%);
}

.cta-text {
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.about-text {
    padding-top: 4em;
    padding-bottom: 2em;
}

.about-title {
    font-size: 30px;
    color: #002475;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 32px;
}

.about p {
    font-size: 20px;
    font-family: 'Montserrat',
        sans-serif;
    color: #002475;
    font-weight: 500;
    margin-top: 32px;
    line-height: 32px;
}

.about p span {
    font-size: 30px;
}

.about button {
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
}

.images {
    padding: 4em 0;
    background-image: url('../1x/images-bg.JPG');
    background-position: center center;
    background-size: cover;
    position: relative;
}

.images::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.50)
}

.images-container img.small {
    max-width: 85%;
    margin-top: 6%;
}

.ready {
    padding-top: 4em;
}

.ready-title {
    font-size: 23px;
    font-family: 'Montserrat',
        sans-serif;
    color: #002475;
    font-weight: 500;
    margin-bottom: 2em;
}

.ready-cont span {
    display: block;
    font-size: 20px;
    font-family: 'Montserrat',
        sans-serif;
    color: #002475;
    font-weight: bold;
    margin-top: 12px;
}

.ready-info {
    display: block;
    font-size: 28px;
    line-height: 27px;
    font-family: 'Montserrat',
        sans-serif;
    color: #002475;
    margin-top: 4em !important;
}

.areyouready {
    position: relative;
    width: 100%;
    margin-top: 4em;
}

.form-container {
    background-color: #0E4776;
    padding: 4em 0;
}

.form-title {
    font-family: 'Montserrat',
        sans-serif;
    display: block;
    color: #FFF;
    font-size: 17px;
}

.form-container h2 {
    margin-top: 2em;
    font-family: 'Montserrat',
        sans-serif;
}

.form-container h2 span {
    padding-top: 12px;
    padding-bottom: 12px;
}

.form-container form {
    max-width: 65%;
    margin: auto;
    margin-top: 4em;
}

.form-container form label {
    font-family: 'Montserrat',
        sans-serif;
    display: block;
    color: #FFF;
    font-size: 17px;
}

.form-container form input {
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #fff;
    outline: none;
    color: #fff;
}

.form-container form .add {
    display: inline-block;
    margin-top: 4em;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat',
        sans-serif;
    cursor: pointer;
    color: #fff;
    background-color: #037E40;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.form-container form .send-form {
    display: inline-block;
    margin-top: 1.3em;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat',
        sans-serif;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 1em;
    padding-left: 1em;
}

.instagram {
    padding: 2em 0 4em;
}

.ig-title {
    font-size: 30px;
    font-family: 'Montserrat',
        sans-serif;
    color: #1B2353;
    font-weight: bold
}

img.object-fit {
    margin: 0 4px;
    padding: 0px 12px;
}

.info {
    font-size: 20px;
    font-family: 'Montserrat',
        sans-serif;
    color: #0E4776;
    line-height: 27px;
}

/* Media Query */

@media screen and (max-width: 767px) {
    .images-container img.small {
        max-width: 100%;
        margin-top: 0;
    }

    .images-container img {
        margin-bottom: 18px;
    }

    .form-container form {
        max-width: 90%;
    }

    .about-text {
        padding-bottom: 4em;
        text-align: center;
    }

    .about-img {
        display: none;
    }

    .navbar .container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav-barna .ml-auto {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}